<main id="main-content">
    <h2>Quelle suite bureautique est utilisée dans le cadre scolaire ?</h2>
    <div class="quiz-tableau">
        <div class="categorie bg-red">
            <h3>Microsoft 365</h3>
            <p>La suite officielle de Microsoft, avec notamment Word, Excel, etc.</p>
            <button class="btn-choisir" data-index="quizBureautique" data-reponse="microsoft">Choisir</button>
        </div>
        <div class="categorie bg-purple">
            <h3>Google Docs</h3>
            <p>La suite signée Google utilisant Google Drive</p>
            <button class="btn-choisir" data-index="quizBureautique" data-reponse="google">Choisir</button>
        </div>
        <div class="categorie bg-green">
            <h3>Nextcloud</h3>
            <p>On utilise une suite auto-hebergée comme Nextcloud, mais aussi d'autres comme Collabora.</p>
            <button class="btn-choisir" data-index="quizBureautique" data-reponse="nextcloud">Choisir</button>
        </div>
        <div class="categorie bg-yellow">
            <h3>LibreOffice</h3>
            <p>On utilise la suite bureautique LibreOffice avec notamment Writer, Calc, Impress...
            Ou bien j'utilise une autre suite bureautique open-source (OnlyOffice, FreeOffice,...)</p>
            <button class="btn-choisir" data-index="quizBureautique" data-reponse="open-source">Choisir</button>
        </div>
        <div class="categorie">
            <h3>Je ne sais pas</h3>
            <p>Passer à la question suivante</p>
            <button class="btn-choisir" data-index="quizBureautique" data-reponse="idk">Choisir</button>
        </div>
    </div>
</main>
