<main id="main-content">
    <h2>En tant qu'élève, es-tu impliqué dans le processus décisionnaire de ton établissement ?</h2>
    <div class="quiz-tableau">
        <div class="categorie bg-green">
            <h3>Oui</h3>
            <p>
                Je suis engagé en tant que délégué, membre d'un BDE, conseil d'administration,
                maison des lycéens, ou tout autre instance qui participe à la vie démocratique
                de l'établissement.
            </p>
            <button class="btn-choisir" data-index="quizEngagement" data-reponse="oui">Choisir</button>
        </div>
        <div class="categorie bg-red">
            <h3>Non</h3>
            <p>Je ne suis pas engagé dans la gouvernance de mon établissement ou il n'existe tout simplement
            pas de moyen pour moi de le faire en tant qu'étudiant.</p>
            <button class="btn-choisir" data-index="quizEngagement" data-reponse="non">Choisir</button>
        </div>
    </div>
</main>
