<main id="main-content">
    <h2>Quel logiciel de messagerie est utilisé pour les communications professionnelles ?</h2>
    <div class="quiz-tableau">
        <div class="categorie bg-green">
            <h3>SOGo (logiciel recommandé par le gouvernement)</h3>
            <p>On utilise principalement SOGo, le logiciel recommandé par défaut par le gouvernement.</p>
            <button class="btn-choisir" data-index="quizMail" data-reponse="open-source">Choisir</button>
        </div>
        <div class="categorie bg-purple">
            <h3>Gmail</h3>
            <p>On utilise le bien connu Gmail, simple, rapide, efficace.</p>
            <button class="btn-choisir" data-index="quizMail" data-reponse="gmail">Choisir</button>
        </div>
        <div class="categorie bg-green">
            <h3>Zimbra</h3>
            <p>C'est la messagerie open-source Zimbra qu'on utilise</p>
            <button class="btn-choisir" data-index="quizMail" data-reponse="zimbra">Choisir</button>
        </div>
        <div class="categorie bg-yellow">
            <h3>Autre</h3>
            <p>J'utilise une autre application pour gérer mes messageries ou je ne sais pas
            laquelle est utilisée au sein de l'établissement</p>
            <button class="btn-choisir" data-index="quizMail" data-reponse="idk">Choisir</button>
        </div>
    </div>
</main>
