<main id="main-content">
    <h2>Quel navigateur est installé par défaut sur les ordinateurs de l'établissement ?</h2>
    <div class="quiz-tableau">
        <div class="categorie bg-green">
            <h3>Google Chrome</h3>
            <p>On ne le présente plus.</p>
            <button class="btn-choisir" data-index="quizNavigateur" data-reponse="chrome">Choisir</button>
        </div>
        <div class="categorie bg-green">
            <h3>Chromium</h3>
            <p>Une version alternative de Chrome ayant un meilleur respect des données, mais
                demeurant sous le contrôle de Google !</p>
            <button class="btn-choisir" data-index="quizNavigateur" data-reponse="chromium">Choisir</button>
        </div>
        <div class="categorie bg-purple">
            <h3>Mozilla Firefox</h3>
            <p>De plus en plus apprécié au sein des institutions publiques pour son respect de la vie privée.</p>
            <button class="btn-choisir" data-index="quizNavigateur" data-reponse="firefox">Choisir</button>
        </div>
        <div class="categorie bg-purple">
            <h3>Open-source</h3>
            <p>Un autre navigateur open-source qui n'est pas cité ici.</p>
            <button class="btn-choisir" data-index="quizNavigateur" data-reponse="open-source">Choisir</button>
        </div>
        <div class="categorie bg-yellow">
            <h3>Propriétaire</h3>
            <p>Un autre navigateur géré par une grande entreprise (Microsoft Edge, Safari...)</p>
            <button class="btn-choisir" data-index="quizNavigateur" data-reponse="closed-source">Choisir</button>
        </div>

    </div>
</main>
