<main id="main-content">
    <h2>Quel moteur de recherche est installé par défaut ?</h2>
    <div class="quiz-tableau">
        <div class="categorie bg-green">
            <h3>Google</h3>
            <p>On ne le présente toujours plus, à lui seul il représente 89% du marché.</p>
            <button class="btn-choisir" data-index="quizRecherche" data-reponse="google">Choisir</button>
        </div>
        <div class="categorie bg-green">
            <h3>Bing</h3>
            <p>Le moteur de recherche signé Microsoft.</p>
            <button class="btn-choisir" data-index="quizRecherche" data-reponse="bing">Choisir</button>
        </div>
        <div class="categorie bg-green">
            <h3>Yahoo</h3>
            <p>Il est de moins en moins utilisé, mais reste relativement présent notamment en France.</p>
            <button class="btn-choisir" data-index="quizRecherche" data-reponse="yahoo">Choisir</button>
        </div>
        <div class="categorie bg-purple">
            <h3>Open-source</h3>
            <p>Un moteur de recherche open-source et respectueux de la vie privée.
            Des exemples connus sont DuckDuckGo, Startpage, Ecosia, Lilo...</p>
            <button class="btn-choisir" data-index="quizRecherche" data-reponse="open-source">Choisir</button>
        </div>
        <div class="categorie bg-yellow">
            <h3>Propriétaire</h3>
            <p>Un autre moteur de recherche géré par une grande entreprise (Microsoft Edge, Safari...)</p>
            <button class="btn-choisir" data-index="quizRecherche" data-reponse="closed-source">Choisir</button>
        </div>

    </div>
</main>
