<main id="main-content">
  <h2>Est-tu impliqué dans le système informatique de ton établissement ?</h2>
  <div class="quiz-tableau">
    <div class="categorie bg-green">
      <h3>Oui</h3>
      <p>
        J'ai un poste technique dans mon établissement, ou je m'intéresse suffisamment à son système informatique
        pour connaître les technologies utilisées.
      </p>
      <button class="btn-choisir" data-index="quizTechnique" data-reponse="oui">Choisir</button>
    </div>
    <div class="categorie bg-red">
      <h3>Non</h3>
      <p>Je n'ai pas de connaissance particulière dans le système informatique de mon établissement.</p>
      <button class="btn-choisir" data-index="quizTechnique" data-reponse="non">Choisir</button>
    </div>
  </div>
</main>
