/* Importer dans l'ordre : variables -> base -> layout -> components -> utilities -> responsive */
@import "./_variables.css";
@import "./base.css";
@import "./layout.css";
@import "./components/buttons.css";
@import "./components/cards.css";
@import "./utilities.css";
@import "./responsive.css";

/* Place for site-specific overrides */
:root{
  /* --color-primary: #0053a0; Exemple d'override */
}
